{% extends 'index.html' %} {% load static %} {% block content%}
{% comment "Tutorial Beschreibung" %}
    Alle Seiten sollen ja in diesem Tutorial immer die gleiche Kopf- und Fußzeile
    enthalten. Dies wird mit dem Django tag extends bereitgestellt.
    Im Django tag block content wird in diesem Bereich dieser Block in den content
    Bereich der index.html Datei hineingeladen.
    {% extends 'index.html' %}:     spezifiziert das Eltern Template, in diesem Fall unsere index.html
    {% load static %}:              Lädt Templates Tags von anderen Librarys, hier aus der settings.py die Variable static
    {% block endblock %}:           spezifiziert den Contentbereich. Es gibt ein Block-Anfang {% block <name> %} und Block-Ende {% endblock %}
{% endcomment %}
<h1 class="home-h1 d-flex justify-content-center">Test Seite</h1>
<div class="row mb-2">
    <div class="col-md-6">
        <!--
        Klasse	            Beschreibung
        row	                Definiert eine Zeile im Bootstrap-Grid-System, die Spalten (col-*) enthält.
        g-0	                Entfernt den Abstand zwischen den Spalten in der Zeile (g steht für gap).
        border	            Setzt einen Rahmen (border) um das Element.
        rounded	            Rundet die Ecken des Elements mit einem Radius von 0.25rem (4px).
        overflow-hidden	    Verhindert, dass der Inhalt des Elements über seine Begrenzungen hinausragt.
        flex-md-row	        Definiert ein Flex-Container-Element und stellt sicher, dass die darin enthaltenen Elemente in einer Reihe auf mittleren und größeren Bildschirmen angezeigt werden.
        mb-4	            Setzt den unteren Außenabstand (margin-bottom) des Elements auf 1.5rem (24px).
        shadow-sm	        Fügt einen leichten Schatten (box-shadow) um das Element hinzu.
        h-md-250	        Setzt die Höhe des Elements auf 250px auf mittleren (md) und größeren Bildschirmen.
        position-relative	Positioniert das Element relativ zum normalen Fluss des Dokuments, was es ermöglicht, es mithilfe von Positionierungseigenschaften zu verschieben.
        -->
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Grundlagen</strong>
          <h3 class="mb-0">Python Ubuntu</h3>
          <div class="mb-1 text-muted">Juli 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">weiterlesen ...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Django Bootstrap</h3>
          <div class="mb-1 text-muted">Juli 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">weiterlesen ...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>



{% comment "Zu Testzwecken deaktiviert!" %}
<!--
Django Template Tag	    Beschreibung
{% block content %}	    Definiert einen Block namens content, der in einer Django Template-Datei verwendet wird, um den Hauptinhalt einer Seite zu definieren oder zu überschreiben.
-->
{% endcomment %}

<h2 class="pb-4 mb-4 fst-italic border-bottom">
From the Firehose
</h2>
<!--
Im folgenden <article> werden u. a. folgende Tags verwendet für Listen:
Tag	        Beschreibung
<article>	Definiert einen eigenständigen, in sich geschlossenen Inhalt innerhalb eines Dokuments.
<ul>	    Definiert eine ungeordnete Liste, die normalerweise mit Aufzählungspunkten (Bullets) dargestellt wird. 
            Jedes Element in der Liste wird mit dem <li>-Tag erstellt.
<li>	    Definiert ein Listenelement innerhalb einer ungeordneten Liste (<ul>), einer geordneten Liste (<ol>) oder einer Definitionliste (<dl>).
<ol>	    Definiert eine geordnete Liste, die normalerweise mit numerierten Aufzählungspunkten dargestellt wird. 
            Jedes Element in der Liste wird mit dem <li>-Tag erstellt.
<dl>	    Definiert eine Definitionliste, die aus Begriffen (<dt>) und deren Definitionen (<dd>) besteht.
<td>	    Definiert eine Zelle in einer Tabelle (<table>).
<dd>	    Definiert die Definition oder Beschreibung eines Begriffs in einer Definitionliste (<dl>).
-->
<article class="blog-post">
    <h3 class="blog-post-title">Beispiel Eintrag</h3>
    <p class="blog-post-meta">Juli 9, 2024 by <a href="#">Armin</a></p>

    <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
    <hr>
    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

    <h4>Beispiele zu Listen:</h4>
    <p>Tags: ul, li</p>
    <ul>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
    </ul>
    <p>Geordnete Liste: Tags: ol, li</p>
    <ol>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
    </ol>
    <p>Tags: dl, td, dd</p>
    <dl>
        <dt>HyperText Markup Language (HTML)</dt>
        <dd>The language used to describe and define the content of a Web page</dd>
        <dt>Cascading Style Sheets (CSS)</dt>
        <dd>Used to describe the appearance of Web content</dd>
        <dt>JavaScript (JS)</dt>
        <dd>The programming language used to build advanced Web sites and applications</dd>
    </dl>
</article>


<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary" href="#">zurück</a>
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">vor</a>
</nav>

    
{% endblock content %}
    
    